
/* This class is used to make all buttons unclickable while process takes place */
.content-pointer-event-none {
    pointer-events: none;
}

.display-chart {
    display: none;
}

.display-error {
    display: none;
}